.wrapper_all {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  margin-left: 200px;
  margin-right: 200px;
}
.wrapper_all > div {
  margin-top: 20px;
}

.wrapper_all,
.build_wrapper,
.matrix_wrapper,
.interface_wrapper,
.solution_wrapper,
.operations_wrapper,
.rref_step,
.adjoin_wrapper {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.build_wrapper {
  font-size: 18px;
}
.build_wrapper > div {
  display: flex;
  flex-direction: column;
  margin-top: 20px;

  border: solid 2px gray;
  padding: 20px;
  width: 400px;
}
#matrix_inputs {
  display: flex;
  justify-content: center;
}
#matrix_inputs table {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
}
#matrix_inputs input {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.matrix_wrapper {
  font-size: 24px;
}
.matrix_wrapper table,
.operations_wrapper table,
.solution_wrapper table {
  border: 1px solid black;
  margin-left: 8px;
  margin-right: 8px;
}
.matrix_wrapper td,
.operations_wrapper td,
.solution_wrapper td {
  text-align: center;
  width: 48px;
  height: 48px;
  padding: 2px;
}

select {
  border-radius: 20px;
  padding: 8px;
  margin: 8px;

  width: 280px;
}
.interface_wrapper {

  font-size: 20px;

  width: 400px;
  border: solid 2px gray;
  padding: 20px;
}
#interface_submit {
  border: 1px solid #555;
  border-radius: 20px;

  padding: 8px;
  margin: 8px;

  width: 280px;
}
#interface_submit:hover {
  background-color: lightblue;
}

.solution_wrapper {

  font-size: 20px;
}

.operations_wrapper {
  display: flex;
  flex-flow: column;
}

.rref_step {
  font-size: 24px;
  margin-top: 16px;
  margin-bottom: 16px;
}
.row_operations {
  font-size: 16px;
}

.adjoin_wrapper {
  font-size: 24px;
  margin-top: 16px;
  margin-bottom: 16px;
}