body, html {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper_all {
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.build_wrapper,
.matrix_wrapper,
.interface_wrapper,
.solution_wrapper,
.operations_wrapper {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}
.build_wrapper {
  margin-top: 20px;
}
.build_wrapper > div {
  display: flex;
  flex-direction: column;
  border: solid 2px gray;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
}
#matrix_inputs {
  display: flex;
  justify-content: center;
}
#matrix_inputs table {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
}
#matrix_inputs input {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

/* .matrix_build_matlabstring */

#build_matrix_example span {
  border-bottom: solid 1px gray;
  padding-bottom: 8px;
}

#example_list {
  list-style-type: none;
  padding: 0;

  display: grid;
  margin-right: 5px;
  grid-auto-flow: column;

  overflow-x: auto;
  overscroll-behavior-inline: contain;
}
#example_list li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 4px;
}
#example_list li div {
  text-align: center;
}
#example_list li:hover {
  background-color: lightblue;
  cursor: pointer;
}
.matrix_wrapper table,
.operations_wrapper table,
.solution_wrapper table,
#example_list table {
  border: 1px solid black;
  margin-left: 8px;
  margin-right: 8px;
}
.matrix_wrapper td,
.operations_wrapper td,
.solution_wrapper td,
#example_list td {
  text-align: center;
  min-width: 36px;
  height: 36px;
  padding: 2px;
}



select {
  border-radius: 20px;
  padding: 8px;
  margin: 8px;

  width: 280px;
}
.interface_wrapper {
  display: flex;
  flex-flow: column;
  border: solid 2px gray;
  padding: 20px;
}
#interface_submit {
  border: 1px solid #555;
  border-radius: 20px;

  padding: 8px;
  margin: 8px;

  width: 280px;
}
#interface_submit:hover {
  background-color: lightblue;
}

.solution_wrapper {
  gap: 10px;
}

.operations_wrapper {
  min-height: 500px;
}

.rref_step,
.adjoin_wrapper {
  display: grid;
  grid-template-columns: minmax(150px, 1fr) auto;
  align-items: start;
  gap: 20px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 16px;
}
.row_operations {
  list-style-type: disc;
  max-width: 200px;
  margin: 0;
  padding-left: 20px;
  box-sizing: border-box;
}