* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.body, html {
  height: 100%;
  overflow: hidden;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.sidebar {
  width: 300px;
  background-color: #2c3e50;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 20px;
  overflow-y: auto;
}
.sidebar ul {
  list-style-type: none;
  padding: 0;
}
.sidebar ul li {
  margin: 15px 0;
}
.sidebar ul li a {
  color: white;
  text-decoration: none;
}
.sidebar ul li a:hover {
  color: rgb(255, 191, 71);
  text-decoration: none;
}

.content {
  display: flex;
  width: 100%;
  justify-content: center;
  align-content: center;
  padding: 20px;
  overflow: auto;
}


input, textarea {
  border: solid 1px lightgrey;
  box-shadow: inset 0px 1px 1px hsla(0, 0%, 0%, 0.075);
  padding: 5px;
}
input:focus {
  outline: none !important;
  border: solid 1px darkblue;
  box-shadow: 0 0 1px #719ECE;
}
input:hover {
  border: solid 1px gray;
}
button {
  border: 1px solid #555;
  border-radius: 20px;

  padding: 8px;
}
button:hover {
  background-color: lightblue;
}


.wrapper_all {
  width: 600px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.build_wrapper,
.matrix_wrapper,
.interface_wrapper,
.solution_wrapper,
.operations_wrapper {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}
.build_wrapper {
  margin-top: 20px;
}
.build_wrapper > div {
  display: flex;
  flex-direction: column;
  border: solid 2px gray;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
}
#row_input, #col_input {
  margin-left: 10px;
  padding-left: 10px;
}
#matrix_inputs {
  display: flex;
  justify-content: center;
}
#matrix_inputs table {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
}
#matrix_inputs input {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

#build_matrix_matlabstring {
  gap: 10px;
}
#matlabstring_input {
  font-size: 18px;
}
#submit_matrix_matlabstring {
  margin: auto;
  width: 280px;
}

#build_matrix_example span {
  border-bottom: solid 1px gray;
  padding-bottom: 8px;
}

#example_list {
  list-style-type: none;
  padding: 0;

  display: grid;
  margin-right: 5px;
  grid-auto-flow: column;

  overflow-x: auto;
  overscroll-behavior-inline: contain;
}
#example_list li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 4px;
}
#example_list li div {
  text-align: center;
}
#example_list li:hover {
  background-color: lightblue;
  cursor: pointer;
}
.matrix_wrapper table,
.operations_wrapper table,
.solution_wrapper table,
#example_list table {
  border: 1px solid black;
  margin-left: 8px;
  margin-right: 8px;
}
.matrix_wrapper td,
.operations_wrapper td,
.solution_wrapper td,
#example_list td {
  text-align: center;
  min-width: 36px;
  height: 36px;
  padding: 2px;
}

.matrix_wrapper {
  gap: 10px;
}

.matrix_wrapper > span,
.solution_wrapper > span,
.operations_wrapper > span {
  width: 100%;
  border-bottom: dashed 1px gray;
}

select {
  border-radius: 20px;
  padding: 8px;
  margin: 8px;

  width: 280px;
}
.interface_wrapper {
  display: flex;
  flex-flow: column;
  border: solid 2px gray;
  padding: 20px;
}
#interface_submit {
  width: 280px;
}

.solution_wrapper {
  gap: 10px;
}

.operations_wrapper {
  gap: 10px;
  min-height: 500px;
}

.rref_step,
.adjoin_wrapper {
  display: grid;
  grid-template-columns: minmax(150px, 1fr) auto;
  align-items: start;
  gap: 20px;
  width: 100%;
  box-sizing: border-box;
}
.row_operations {
  list-style-type: disc;
  max-width: 200px;
  margin: 0;
  padding-left: 20px;
  box-sizing: border-box;
}